#output {
  height: 75px;
  border: 3px solid black;
  color: white;
  background-color: black;
  font-size: xx-large;
  /* width: 19%; */
}
.calculator {
  max-width: 350px;
  margin-inline: auto;
}
.button-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  /* width: 300px; */
}
button {
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
}
.grey {
  background-color: grey;
  border-radius: 50%;
}
.cornflowerblue {
  background-color: rgb(255, 145, 0);
  border-radius: 50%;
}
.lightgrey {
  border-radius: 50%;
}
