#output {
  border: 1px solid cornflowerblue;
  height: 100px;
  border-radius: 8px;
  background-color: cornflowerblue;
}
element.style {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
button {
  background-color: black;
  color: cornflowerblue;
  width: 15%;
  padding: 50px;
  font-size: 30px;
  border-radius: 50%;
}

.calculator {
  background-color: black;
  margin: auto;
  width: 500px;
  height: auto;
  text-align: center;
  border-radius: 8px;
  aspect-ratio: 1;
}
